* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Bebas Neue', cursive;
    color: #333;
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
  }
  

  p {
    margin: 10px 0;
  }
  
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  

  /* top area and image */

.navbar {
    background-color: #333;
    height: 35px;
}

.navbar p {
    color: floralwhite;
    font-size: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar li {
    padding: 0 20px;
    font-size: 25px;
}


.fa-facebook {
    color: #3b5a9b;
}

.fa-twitter {
    color: #1bb2e9;
}

.fa-instagram {
    color: #3f729b;
}

.fa-youtube {
    color: #ed3f41;
}


.header-image {
    width: 100%;
    margin-bottom: 0;
    background-color: #333;
}

/* Navigation/Menu */

.menu {
    background-color: #333;
    height: 50px;
}

.menu ul {
    display: flex;
    max-width: 1100px;
    align-items: center;
    margin: auto;  
}

.menu li {
    text-transform: uppercase;
}

.menu .current {
    background-color: darkorange;
}

.menu a {
    color: floralwhite;
    padding: 15px 50px;
    font-size: 25px;
}

/* Footer */

.footer {
    background-color: #333;
    color: floralwhite;
    height: 350px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1100px;
    padding-top: 50px;
}

.footer a {
    color: floralwhite;
    font-size: 20px;
}

.footer li {
    border-bottom: solid #444444;
    border-width: 2px;
    margin: 5px 0;
}

.footer .about p {
    font-weight: 100;
    line-height: 1.6;
    font-size: 17px;
}

.footer .navigation {
    padding-left: 100px;
}

.footer .socials {
    padding-left: 100px;
}

.footer span {
    background-color: darkorange;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
    font-size: 30px; 
}

.footer h2 {
    border-bottom: solid darkorange;
    border-width: 2px;
}

/* Copyright */

.copyright {
    background-color: #333;
}

.copyright h3 {
    font-weight: 100;
    font-size: 15px;
}

.containertwo {
    max-width: 1100px;
    margin: auto;
    color: floralwhite;
    padding-bottom: 50px;
}

/* Video/Posts */

.video {
   max-width: 1100px;
   align-content: center;
   margin: auto;
   padding-top: 50px;
}

.posts h3 {
    color: floralwhite;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 30px;
}

.posts {
    background: #0e0e0e;
}

iframe {
    width: 50%;
    height: 400px;
}

/* Contact Form */

.contact-section {
    background: #0e0e0e;
    background-size: cover;
    padding: 150px 0;
  }

  .contact-section h1 {
    font-size: 40px;
    text-align: center;  
    color: #ddd;
    margin: auto;
  }

  .border {
    width: 200px;
    height: 10px;
    background: #E89F00;
    margin: 15px auto;
  }
  
  .contact-form {
    align-content: center;
    max-width: 1100px;
    margin: auto;
    width: 600px;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text {
    font-size: 18px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }

  .contact-form-text:focus {
    box-shadow: 0 0 10px 4px #E89F00;
  }

  textarea.contact-form-text {
    resize: none;
    height: 120px;
    font-size: 18px;
  }

  .contact-form-btn {
    float: right;
    border: 0;
    background: #1bb2e9;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
  }

  .contact-form-btn:hover {
    background: #E89F00;
  }


