* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
  }
  

  p {
    margin: 10px 0;
  }
  
  img {
    width: 100%;
    object-fit: cover;
  }

  .loading-spinner {
    background-color: #0e0e0e;
    background-image: url(/images/Bean\ Eater-1s-200px.gif);
    width: 100%;
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
    text-align: center;
    background-size: 100px;
}

element.style {
    display: none;
}
  

  /* top area and image */

.navbar {
    background-color: #332E2B;
    height: 35px;
}

.navbar p {
    color: floralwhite;
    font-size: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar li {
    padding: 0 20px;
    font-size: 25px;
}


.fa-facebook {
    color: #3b5a9b;
}

.fa-twitter {
    color: #1bb2e9;
}

.fa-instagram {
    color: #3f729b;
}

.fa-youtube {
    color: #ed3f41;
}


.header-image {
    width: 100%;
    margin-bottom: 0;
    background-color: #332E2B;
}

/* Navigation/Menu */

.menu {
    background-color: #332E2B;
    height: 50px;
}

.menu ul {
    display: flex;
    max-width: 1100px;
    align-items: center;
    margin: auto;  
}


.menu .current {
    background-color: darkorange;
}

.menu a {
    color: floralwhite;
    padding: 15px 50px;
    font-size: 25px;
}

/* Footer */

.footer {
    background-color: #332E2B;
    color: floralwhite;
    height: 350px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1100px;
    padding-top: 50px;
}

.footer a {
    color: floralwhite;
    font-size: 20px;
}

.footer li {
    border-bottom: solid #444444;
    border-width: 2px;
    margin: 5px 0;
}

.footer .about p {
    font-weight: 100;
    line-height: 1.6;
    font-size: 17px;
}

.footer .navigation {
    padding-left: 100px;
}

.footer .socials {
    padding-left: 100px;
}

.footer span {
    background-color: darkorange;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
    font-size: 30px; 
}

.footer h2 {
    border-bottom: solid darkorange;
    border-width: 2px;
}

/* Copyright */

.copyright {
    background-color: #332E2B;
}

.copyright h3 {
    font-weight: 100;
    font-size: 15px;
    opacity: 50%;
}

.containertwo {
    max-width: 1100px;
    margin: auto;
    color: floralwhite;
    padding-bottom: 50px;
}



/* Contact Form */

.contact-section {
    background: #0e0e0e;
    background-size: cover;
    padding: 150px 0;
}

.contact-section h1 {
    font-size: 40px;
    text-align: center;  
    color: #ddd;
    margin: auto;
}

.border {
    width: 200px;
    height: 10px;
    background: #211E1F;
    margin: 15px auto;
}
  
.contact-form {
    max-width: 600px;  
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
  
.contact-form-text {
    font-size: 18px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #141313;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #E89F00;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
    font-size: 18px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #E89F00;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.contact-form-btn:hover {
    background: #1bb2e9;
}

.valid {
    color: green;
}

.not-valid {
    color: red;
}

.status {
    color: floralwhite;
    text-align: center;
    font-size: 20px;
}

  /* About me */

section {
    height: 800px;
    background-color: #0e0e0e;
}

section img {
    width: 100%;
    height: auto;
    position: relative;
}

section h1 {
    font-size: 40px;
    
}

section p {
    max-width: 350px;
    margin: 20px auto;
    text-align: start;
    padding: 0 15px;
}

.container-about {
    padding-top: 100px;
    text-align: center;
    color: floralwhite;
}

.about-img {
    max-width: 350px;
    margin: auto;
    padding: 0 15px;
}


/* Welcome area */

.welcome-area {
    background-color: #0e0e0e;
}

.welcome-text {
    max-width: 1100px;
    padding: 50px 0;
    margin: auto;
    color: floralwhite;
}

.welcome-text p {
    width: 450px;
    font-weight: lighter;
}

/* Posts and Twitter  */
  
.main-content {
    background: #0e0e0e;
    padding-bottom: 100px;
}

.posts-twitter {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}


.twitter-feed {  
    width: 270px;
    max-height: 600px;
    overflow: scroll;
    margin: 0 auto;
}

.video {
    margin-bottom: 50px;
    color: floralwhite;
}
 
.background-card {
    background-color: #141313;
    width: 650px;
    padding-left: 60px;
    margin: auto;
}
 
.video p {
    padding-bottom: 15px;
}

.video .button {
    background-color: darkorange;
    color: floralwhite;
    padding: 6px 20px;
    font-size: 22px;
}

 
.posts h3 {
     color: floralwhite;
     font-weight: 100;
     margin-bottom: 15px;
     font-size: 30px;
     border-bottom: solid #444444;
     border-width: 3px;
     max-width: 550px;
     padding-top: 15px;
}
 
 iframe {
     width: 90%;
     height: 400px;
}


.post-area .posts {
    max-width: 1500px;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    display: grid;
}


.button-area {
    background-color: #0e0e0e;
    margin: auto;
    text-align: center;
    margin-top: -50px;
}

.viewmore {
    font-size: 40px;
    color: floralwhite;
    background-color: #141313;
    border: solid #E89F00;
    margin: 40px 0;
    padding: 7px;
}

.header {
    font-size: 22px;
    padding-top: 40px;
    background-color: #0e0e0e;
    text-align: center;
    height: 150px; 
}

.header h1 {
    border-bottom: solid #444444;
    border-width: 3px;
    color: floralwhite;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}


.specificpost {
    background-color: #0e0e0e;
    height: 700px;
    padding-top: 50px;
}


.specific-video  {
    max-width: 1100px;
    margin: 0 auto;
}

.background-video h2 {
    font-size: 40px;
    color: floralwhite;
    font-weight: 100;
    margin-bottom: 15px;
    border-bottom: solid #444444;
    border-width: 3px;
    max-width: 550px;
    padding-top: 15px;
}

.background-video {
    background-color: #141313;
    width: auto;
    padding-left: 60px;
}

.background-video .video iframe {
    height: 500px;
}

.specific-video {
    padding: 0 10px;
}


.posts{
    margin: 0 auto;
}


/*  Carousel */

.flex-sliders {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev, .next {
    cursor: pointer;
    color: darkorange;
    font-weight: bold;
    font-size: 50px;
}
  
.next {
    right: 0;
    margin-right: 60px;
}


.carousel-slide{
    display: none;
}

.carousel-slide .video .background-card {
    margin: 0;
}

.carousel-slider{
    margin: auto;  
}   
  
.carousel-slide:first-of-type{
    display: block;
}



/* Media queries */


@media (max-width:1300px) {

    .posts-twitter {
        display: block;
    }

    .background-card {
        width: auto;
    }

    .carousel-slide .video {
        padding: 0 50px;
    }

    .post-area .posts {
        display: block;
        width: 700px;
    }

    
}

@media (max-width:1100px) {
    .navbar p {
        padding-left: 30px
    }

    .welcome-text {
        padding-left: 60px;
    }

    .background-video .video iframe {
        height: 300px;
    }

}



/* Media Quieres */
@media (min-width:700px) {
    .nav-socials {
        display: none;
    }
}

@media (max-width:950px) {

.container-grid {
    display: block;
}

.background-video h2 {
    font-size: 20px;
}

.background-video {
    padding-left: 15px;
}
    
}


@media (max-width:700px) {


    .next {
        margin-right: 30px;
    }

    .post-area .posts {
        display: block;
        width: auto;
        padding: 0 30px;
    }

    .navbar li {
        padding: 0 10px;
    }

    .navbar p {
        font-size: 12px;
    }

    .nav-socials a {
        padding: 0 12px;
        font-size: 30px;
        border-bottom: solid #444444;
    }
    .nav-socials li {
        border-bottom: none;
    }

    .footer span {
        font-size: 17px;
    }
    
    .footer .navigation {
        padding-left: 10px;
    }
    .footer .socials {
        display: none;
    }

    .footer .about {
        padding-left: 10px;
    }

    .footer {
        height: auto;
    }

    .footer .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .about p {
        font-size: 12px;
    }
    .footer .navigation a {
        font-size: 15px;
    }

    .containertwo {
        padding: 30px 30px;
    }

    .background-card {
        width: auto;
        padding-left: 30px;
    }

    iframe {
        width: 90%;
        height: auto;
    }

    .carousel-slide .video {
        padding: 0 40px;
    }

    .background-card h3 {
        padding-right: 20px;
        width: 90%;
        padding-top: 0;
        font-size: 20px;
    }

    .header h1 {
        font-size: 30px;
    }

    .menu ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        gap: 20px;
        max-width: 300px;
    }

    .menu {
        height: auto;
        padding-bottom: 10px;
    }

    .menu a {
        padding: 2px 40px;
    }

    .menu .current {
        border: solid darkorange;
        padding-bottom: 7px;
    }

    .welcome-text p {
        width: 80%;
    }

    .container-grid {
        padding-top: 0;
    }

    .video {
        width: 100%;
    }

    .background-video .video {
        padding-left: 0;
    }
    .background-video .video iframe {
        width: 100%;
    }

    .welcome-text p {
        font-size: 15px;
    }
    .welcome-text h1 {
        font-size: 19px;
    }

    .container-about h1 {
        font-size: 25px;
    }

    .container-about p {
        font-size: 15px;
    }

    .containertwo {
        padding-left: 10px;
    }

    .containertwo h3 {
        font-size: 10px;
        opacity: 50%;
    }

    .viewmore {
        font-size: 20px;
    }
    

}

@media (max-width:600px) {
    .menu a {
        font-size: 16px;
    }

    .prev, .next {
        font-size: 30px;
    }
    
    
}






